footer
  .footer-item
      p &copy; Palitras.com
  .footer-item
    select(name="language")
      option english
      option русский
  .footer-item
    p Terms
  .footer-item
    p Privacy
  .footer-item
    .socials
      a(href="https://github.com/100stepstosuccess")
        img(src="/images/github-logo.svg", alt="", srcset="")