header
  nav.nav
    a(href="/").link logo
    if userId
      a(href="/home").link Home
      form(method="post" action="/logout")
        input(type="submit" value="Logout").btn
    else
      a(href="/login").btn Login
      a(href="/sign-up").btn Sign up