header
  nav.nav
      a(href="/").brand-logo.link logo
      ul#nav-mobile.right.hide-on-med-and-down
        if userId
          li: a(href="/home").link Home
          li: form(method="post" action="/logout")
            input(type="submit" value="Logout").btn
        else
          li: a(href="/login").btn Login
          li: a(href="/sign-up").btn Sign up