extends layouts/layout.pug

block content
    .navBarContainer
            +redirectButton("Login", "/login")
            +redirectButton("Sign up", "/sign-up")
    +form-box("Reset password", false, true)