extends layouts/layout.pug

block content
  .navBarContainer
    a(href="/").link Main
    form(method="post" action="/logout")
        input(type="submit" value="Logout").redirect-btn
  h1 Home
  p Hello! 
  ul
    li email: #{email}
    