extends layouts/layout.pug

block content
    .navBarContainer
        +redirectButton("Login", "/login")
    +form-box("Sign up")
    .redirect
        p Already have an account?
        a(href="/login").link Log in instead!

//- TODO: добавить обработку ошибок на клиенте. Миксин сообщений.
//- https://webformyself.com/formy-zagruzki-fajlov-i-bezopasnost-s-pomoshhyu-node-js-i-express/