.btn {
  font-size: rem(14);
  padding: rem(3) rem(20);
  border-radius: 2px;
  background: $accent-color;
  cursor: pointer;
  color: $default-color;
  &:hover {
    background: adjust-color(
      $color: $accent-color,
      $saturation: 5%,
      $lightness: -10%
    );
  }
  &:active {
    background: adjust-color(
      $color: $accent-color,
      $saturation: -30%,
      $lightness: -15%
    );
  }
}

input[type="file"] {
  display: none;
}

.label-file {
  color: white;
  height: rem(34);
  width: rem(150);
  cursor: pointer;
  margin: 14px 0;
  font-size: rem(13);
  background: $accent-color;
  border-radius: rem(5);
  display: flex;
  justify-content: center;
  align-items: center;
}
