mixin auth-form(title, login, reset) 
  .container.wrapper
    .authForm
      .left
        h2= title
        if login
          .box
            p Having trouble signing in? 
              a(href="/forgot-password").link reset your password.
      .right
        .spinner
        form(method="POST")
          .err-message
          .email-box
            input(type="email" name="email" required).email
            label(for="email").email-label email
          if !reset
            .password-box
              input(type="password" name="password" required).password
              label(for="password").password-label password
          input(type="submit" value= title).btn