mixin form-box(title, login, reset) 
  .form-box
        .left-part
            h2.h2= title
            if login
                .inner-bottom-box
                    p Having trouble signing in?
                    a(href="/forgot-password").link reset your password.
        .right-part
            form(method="POST").auth-form
                .email-box
                    input(type="email" name="email" required).email
                    label(for="email").email-label email
                if !reset
                    .password-box
                        input(type="password" name="password" required).password
                        label(for="password").password-label password
                input(type="submit" value= title).submit-btn.btn

mixin redirectButton(title, path)
    a(href= path).redirect-btn #{title}